@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/OpenSans/Open+Sans_300_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(../fonts/OpenSans/Open+Sans_300_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(../fonts/OpenSans/Open+Sans_300_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff */
        url(../fonts/OpenSans/Open+Sans_300_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTZS3E-kSBmtLoNJPDtbj2Pk.ttf */
        url(../fonts/OpenSans/Open+Sans_300_normal.svg#Open+Sans_300_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/OpenSans/Open+Sans_400_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(../fonts/OpenSans/Open+Sans_400_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(../fonts/OpenSans/Open+Sans_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff */
        url(../fonts/OpenSans/Open+Sans_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3SZ2oysoEQEeKwjgmXLRnTc.ttf */
        url(../fonts/OpenSans/Open+Sans_400_normal.svg#Open+Sans_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=cJZKeOuBrn4kERxqtaUH3Zbd9NUM7myrQQz30yPaGQ4&skey=62c1cbfccc78b4b2&v=v13#OpenSans */
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/OpenSans/Open+Sans_600_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(../fonts/OpenSans/Open+Sans_600_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(../fonts/OpenSans/Open+Sans_600_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff */
        url(../fonts/OpenSans/Open+Sans_600_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSpS3E-kSBmtLoNJPDtbj2Pk.ttf */
        url(../fonts/OpenSans/Open+Sans_600_normal.svg#Open+Sans_600_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/OpenSans/Open+Sans_700_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(../fonts/OpenSans/Open+Sans_700_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(../fonts/OpenSans/Open+Sans_700_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff */
        url(../fonts/OpenSans/Open+Sans_700_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzJS3E-kSBmtLoNJPDtbj2Pk.ttf */
        url(../fonts/OpenSans/Open+Sans_700_normal.svg#Open+Sans_700_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: url(../fonts/OpenSans/Open+Sans_800_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(../fonts/OpenSans/Open+Sans_800_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(../fonts/OpenSans/Open+Sans_800_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hnhCUOGz7vYGh680lGh-uXM.woff */
        url(../fonts/OpenSans/Open+Sans_800_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hpS3E-kSBmtLoNJPDtbj2Pk.ttf */
        url(../fonts/OpenSans/Open+Sans_800_normal.svg#Open+Sans_800_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    src: url(../fonts/OpenSans/Open+Sans_300_italic.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(../fonts/OpenSans/Open+Sans_300_italic.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(../fonts/OpenSans/Open+Sans_300_italic.woff) format('woff'), /* http://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxh_xHqYgAV9Bl_ZQbYUxnQU.woff */
        url(../fonts/OpenSans/Open+Sans_300_italic.ttf) format('truetype'), /* http://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxt6Naowg1QhaIq8kLGtQSos.ttf */
        url(../fonts/OpenSans/Open+Sans_300_italic.svg#Open+Sans_300_italic) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: url(../fonts/OpenSans/Open+Sans_400_italic.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(../fonts/OpenSans/Open+Sans_400_italic.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(../fonts/OpenSans/Open+Sans_400_italic.woff) format('woff'), /* http://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBobN6UDyHWBl620a-IRfuBk.woff */
        url(../fonts/OpenSans/Open+Sans_400_italic.ttf) format('truetype'), /* http://fonts.gstatic.com/s/opensans/v13/xjAJXh38I15wypJXxuGMBiwlidHJgAgmTjOEEzwu1L8.ttf */
        url(../fonts/OpenSans/Open+Sans_400_italic.svg#Open+Sans_400_italic) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src: url(../fonts/OpenSans/Open+Sans_600_italic.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(../fonts/OpenSans/Open+Sans_600_italic.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(../fonts/OpenSans/Open+Sans_600_italic.woff) format('woff'), /* http://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxn5HxGBcBvicCpTp6spHfNo.woff */
        url(../fonts/OpenSans/Open+Sans_600_italic.ttf) format('truetype'), /* http://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxs1QGe9x6ME_FQCWJB3n6z8.ttf */
        url(../fonts/OpenSans/Open+Sans_600_italic.svg#Open+Sans_600_italic) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: url(../fonts/OpenSans/Open+Sans_700_italic.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(../fonts/OpenSans/Open+Sans_700_italic.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(../fonts/OpenSans/Open+Sans_700_italic.woff) format('woff'), /* http://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxjqR_3kx9_hJXbbyU8S6IN0.woff */
        url(../fonts/OpenSans/Open+Sans_700_italic.ttf) format('truetype'), /* http://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxjdGNerWpg2Hn6A-BxWgZ_I.ttf */
        url(../fonts/OpenSans/Open+Sans_700_italic.svg#Open+Sans_700_italic) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 800;
    src: url(../fonts/OpenSans/Open+Sans_800_italic.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(../fonts/OpenSans/Open+Sans_800_italic.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(../fonts/OpenSans/Open+Sans_800_italic.woff) format('woff'), /* http://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxkCDe67GEgBv_HnyvHTfdew.woff */
        url(../fonts/OpenSans/Open+Sans_800_italic.ttf) format('truetype'), /* http://fonts.gstatic.com/s/opensans/v13/PRmiXeptR36kaC0GEAetxkdJXfhP-2RmnAuS9A2rxpE.ttf */
        url(../fonts/OpenSans/Open+Sans_800_italic.svg#Open+Sans_800_italic) format('svg'); /* {{svg-gf-url}} */
}
